[submodule "/home/genw/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = /home/genw/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "/home/genw/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = /home/genw/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/pack/plugins/start/vimwiki"]
	path = .vim/pack/plugins/start/vimwiki
	url = git@github.com:vimwiki/vimwiki.git
    branch = dev
[submodule ".vim/pack/plugins/start/taskwiki"]
	path = .vim/pack/plugins/start/taskwiki
	url = git@github.com:tools-life/taskwiki
